<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
	<body>
	    <h1>Employee Attendance Management System</h1>
		<p th:text="|Welcome back ${username}!|"></p>
	    <a th:href="@{/attendance}">
	        <button>My attendance</button>
	    </a>
	    <a th:href="@{/overtime}">
	        <button>My overtime</button>
	    </a>
	    <a th:href="@{/vacation}">
	        <button>My vacation</button>
	    </a>
		<a th:href="@{/account}">
		    <button>My user account</button>
		</a>
		<h2>Admin options</h2>
		<a th:href="@{/manage/attendance}">
		    <button>Manage attendance</button>
		</a>
		<a th:href="@{/manage/overtime}">
		    <button>Manage overtime</button>
		</a>
		<a th:href="@{/manage/vacation}">
		    <button>Manage vacation</button>
		</a>
		<a th:href="@{/manage/department}">
		    <button>Manage department</button>
		</a>
		<a th:href="@{/manage/employee}">
		    <button>Manage employees</button>
		</a>
		<a th:href="@{/manage/user}">
		    <button>Manage users</button>
		</a>
	</body>
</html>