<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
	<body>
	    <h1>Employee Attendance Management System</h1>
		<p th:text="|Welcome back ${username}!|"></p>
	    <a th:href="@{/attendance}">
	        <button>My attendance</button>
	    </a>
	    <a th:href="@{TODO}">
	        <button>My overtime</button>
	    </a>
	    <a th:href="@{TODO}">
	        <button>My vacation</button>
	    </a>
		<a th:href="@{TODO}">
		    <button>My user account</button>
		</a>
	</body>
</html>