<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Vacation</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>Manage Vacation</h1>
	    <h2>Search Vacation</h2>
	    <form th:action="@{/manage/vacation}" method="get">
	        <input type="number" name="id" placeholder="Enter Employee ID" min="1" max="9007199254740991">
	        <input type="date" name="date">
	        <button type="submit">Search</button>
	        <a th:href="@{/manage/vacation}"><button type="button">Reset</button></a>
	    </form>
	    <h2>Vacation</h2>
	    <form th:action="@{/manage/vacation}" method="get">
	        <label>Sort by:</label>
	        <select name="sort">
	            <option value="id">Employee ID</option>
	            <option value="date">Start date</option>
	            <option value="active">Vacation active</option>
	            <option value="status">Vacation status</option>
	        </select>
	        <label>Order:</label>
	        <select name="order">
	            <option value="asc">Ascending</option>
	            <option value="desc">Descending</option>
	        </select>
	        <button type="submit">Sort</button>
	    </form>
	    <table style="width: 100%; border-collapse: collapse;">
	        <tr>
	            <th style="border: 1px solid black;">Vacation id</th>
	            <th style="border: 1px solid black;">Employee id</th>
	            <th style="border: 1px solid black;">Employee name</th>
	            <th style="border: 1px solid black;">Employee surname</th>
	            <th style="border: 1px solid black;">Start date</th>
	            <th style="border: 1px solid black;">End date date</th>
	            <th style="border: 1px solid black;">Active</th>
	            <th style="border: 1px solid black;">Status</th>
	            <th style="border: 1px solid black;">Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/manage/vacation/add}" method="post">
	                <td style="border: 1px solid black;" th:text="${lastVid}"></td>
	                <td style="border: 1px solid black;"><input type="number" min="1" max="9223372036854775807" name="eid" required></td>
					<td style="border: 1px solid black;"></td>
	                <td style="border: 1px solid black;"></td>
	                <td style="border: 1px solid black;"><input type="date" name="startDate" required></td>
	                <td style="border: 1px solid black;"><input type="date" name="endDate" required></td>
	                <td style="border: 1px solid black;"><input type="checkbox" disabled></td>
	                <td style="border: 1px solid black;"><select name="status" required>
			             <option value="IZSKATISANA">IZSKATISANA</option>
			             <option value="APSTIPRINATS">APSTIPRINATS</option>
			             <option value="NORAIDITS">NORAIDITS</option></select></td>
	                <td style="border: 1px solid black;"><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="vacation : ${vacations}">
	            <form th:action="@{/manage/vacation/update-or-delete}" method="post">
	                <td style="border: 1px solid black;"><input type="hidden" name="vid" th:value="${vacation.vid}" th:text="${vacation.vid}"></td>
	                <td style="border: 1px solid black;"><input type="number" min="1" name="eid" th:value="${vacation.employee.eid}" max="9007199254740991" required></td>
	                <td style="border: 1px solid black;" th:text="${vacation.employee.name}"></td>
	                <td style="border: 1px solid black;" th:text="${vacation.employee.surname}"></td>
	                <td style="border: 1px solid black;"><input type="date" name="startDate" th:value="${vacation.startDate}" required></td>
	                <td style="border: 1px solid black;"><input type="date" name="endDate" th:value="${vacation.endDate}" required></td>
	                <td style="border: 1px solid black;"><input type="checkbox" th:checked="${vacation.active}" disabled></td>
	                <td style="border: 1px solid black;"><select name="status">
			             <option value="IZSKATISANA" th:selected="${vacation.status == T(lv.venta.model.enums.RequestStatus).IZSKATISANA}">IZSKATISANA</option>
			             <option value="APSTIPRINATS" th:selected="${vacation.status == T(lv.venta.model.enums.RequestStatus).APSTIPRINATS}">APSTIPRINATS</option>
			             <option value="NORAIDITS"  th:selected="${vacation.status == T(lv.venta.model.enums.RequestStatus).NORAIDITS}">NORAIDITS</option></select></td>
	                <td style="border: 1px solid black;"><button type="submit" name="action" value="save">Save</button><button type="submit" name="action" value="delete">Delete</button></td>
				</form>
	        </tr>
	    </table>
	</body>
</html>