<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Position</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>Manage Position</h1>
	    <h2>Position</h2>
	    <form th:action="@{/manage/position}" method="get">
	        <label>Sort by:</label>
	        <select name="sort">
	        	<option value="pid">Position ID</option>
	            <option value="positionName">Position name</option>
	        </select>
	        <label>Order:</label>
			<select name="order">
	            <option value="asc">Ascending</option>
	            <option value="desc">Descending</option>
			</select>
	        <button type="submit">Sort</button>
	    </form>
	    <table>
	        <tr>
				<th>Position id</th>
				<th>Position name</th>
				<th>Position description</th>
				<th>Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/manage/position/add}" method="post">
					<td th:text="${lastPid}"></td>
					<td><input type="text" name="addPositionName" required>
					<td><input type="text" name="description" maxlength="100"></td>
	               	<td><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="position : ${positions}">
	            <form th:action="@{/manage/position/update-or-delete}" method="post">
					<td><input type="hidden" name="pid" th:value="${position.pid}"><span th:text="${position.pid}"></span></td>
					<td><input type="text" name="positionName" th:value="${position.name}" required></td>
	                <td><input type="text" name="description" th:value="${position.description}"></td>
					<td>
					    <button type="submit" name="action" value="save">Save</button>
					    <button th:if="${position.name != 'Nav_minets'}"type="submit" name="action" value="delete">Delete</button>
					</td>
	            </form>
	        </tr>
	    </table>
	</body>
</html>