<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Employees</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>Manage Employees</h1>
	    <h2>Search Employees</h2>
	    <form th:action="@{/manage/employee}" method="get">
	        <input type="number" name="eid" placeholder="Enter employee ID" min="1" max="9223372036854775807">
	        <input type="text" name="surname" placeholder="Enter surname" pattern="^[A-Z][a-zA-Z]{1,29}$" title="Surname must start with a capital letter and contain only letters (2–30 characters).">
	        <button type="submit">Search</button>
	        <a th:href="@{/manage/employee}"><button type="button">Reset</button></a>
	    </form>
	    <h2>Employees</h2>
		<form th:action="@{/manage/employee}" method="get">
		    <label>Search by status:</label>
		    <select name="status">
				<option value="">Any</option>
				<option value="Aktivs">Aktivs</option>
				<option value="Neaktivs">Neaktivs</option>
		        <option value="Slims">Slims</option>
				<option value="Atvalinajums">Atvalinajums</option>
				<option value="Dekrets">Dekrets</option>
		    </select>
		    <label>Search by position:</label>
		   <select name="position">
				<option value="">Any</option>
				<option th:each="position : ${positions}"
				        th:value="${position.name}"
				        th:text="${position.name}">
				</option>
			</select>
			<label>Search by department:</label>
			<select name="department">
				<option value="">Any</option>
				<option th:each="department : ${departments}"
				        th:value="${department.departmentName}"
				        th:text="${department.departmentName}">
				</option>
			</select>
		    <button type="submit">Search</button>
		</form>
	    <table style="width: 100%; border-collapse: collapse;">
	        <tr>
	            <th style="border: 1px solid black;">Employee id</th>
				<th style="border: 1px solid black;">Employee name</th>
				<th style="border: 1px solid black;">Employee surname</th>
				<th style="border: 1px solid black;">Person code</th>
				<th style="border: 1px solid black;">Hourly rate</th>
				<th style="border: 1px solid black;">Position</th>
				<th style="border: 1px solid black;">Department</th>
				<th style="border: 1px solid black;">Status</th>
				<th style="border: 1px solid black;">Email</th>
				<th style="border: 1px solid black;">Phone number</th>
				<th style="border: 1px solid black;">Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/manage/employee/add}" method="post">
	                <td style="border: 1px solid black;" th:text="${lastEid}"></td>
					<td style="border: 1px solid black;"><input type="text" name="name" required pattern="^[A-Z][a-zA-Z]{1,29}$" title="Name must start with a capital letter and contain only letters (2–30 characters)."></td>
	                <td style="border: 1px solid black;"><input type="text" name="surname" required pattern="^[A-Z][a-zA-Z]{1,29}$" title="Surname must start with a capital letter and contain only letters (2–30 characters)."></td>
					<td style="border: 1px solid black;"><input type="text" name="personCode" required pattern="^[0-9]{6}-[0-9]{5}$" title="Person code must correspond to Latvian code syntax"></td>
	                <td style="border: 1px solid black;"><input type="number" min="5" step="0.01" name="hourlyRate" required></td>
					<td style="border: 1px solid black;">				
						<select name="position">
							<option th:each="position : ${positions}"
							        th:value="${position.name}"
							        th:text="${position.Name}">
							</option>
						</select>
					</td>
					<td style="border: 1px solid black;">				
						<select name="department">
							<option th:each="department : ${departments}"
							        th:value="${department.departmentName}"
							        th:text="${department.departmentName}">
							</option>
						</select>
					</td>
					<td style="border: 1px solid black;">		
						<select name="status" required>
							<option value="Aktivs">Aktivs</option>
							<option value="Neaktivs">Neaktivs</option>
						    <option value="Slims">Slims</option>
							<option value="Atvalinajums">Atvalinajums</option>
							<option value="Dekrets">Dekrets</option>
						</select>
					</td>
					<td style="border: 1px solid black;"><input type="email" name="email" required title="Email is invalid."></td>
					<td style="border: 1px solid black;"><input type="text" name="number" required pattern="^(\+371|371)?[2-9]\d{7}$" title="The phone number must be an 8 digit Latvian number."></td>
	                <td style="border: 1px solid black;"><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="employee : ${employees}">
	            <form th:action="@{/manage/employee/update-or-delete}" method="post">
					<td style="border: 1px solid black;"><span th:text="${employee.eid}"></span><input type="hidden" name="eid" th:value="${employee.eid}"></td>
					<td style="border: 1px solid black;"><input type="text" name="name" th:value="${employee.name}" pattern="^[A-Z][a-zA-Z]{1,29}$" title="Name must start with a capital letter and contain only letters (2–30 characters)."></td>
					<td style="border: 1px solid black;"><input type="text" name="surname" th:value="${employee.surname}" pattern="^[A-Z][a-zA-Z]{1,29}$" title="Surname must start with a capital letter and contain only letters (2–30 characters)."></td>
					<td style="border: 1px solid black;" th:text="${employee.personCode}"></td>
					<td style="border: 1px solid black;"><input type="number" min="5" step="0.01" name="hourlyRate" th:value="${employee.hourlyRate}"></td>
					<td style="border: 1px solid black;">
						<select name="position">
							<option th:each="position : ${positions}"
							        th:value="${position.name}"
							        th:text="${position.name}"
									th:selected="${employee.position.name == position.name}">
							</option>
						</select>
					</td>
					<td style="border: 1px solid black;">
						<select name="department">
							<option th:each="department : ${departments}"
							        th:value="${department.departmentName}"
							        th:text="${department.departmentName}"
									th:selected="${employee.department.departmentName == department.departmentName}">
							</option>
						</select>
					</td>
					<td style="border: 1px solid black;">
						<select name="status">
							<option value="Aktivs" th:selected="${employee.status == T(lv.venta.model.enums.Status).Aktivs}">Aktivs</option>
							<option value="Neaktivs" th:selected="${employee.status == T(lv.venta.model.enums.Status).Neaktivs}">Neaktivs</option>
						    <option value="Slims" th:selected="${employee.status == T(lv.venta.model.enums.Status).Slims}">Slims</option>
							<option value="Atvalinajums" th:selected="${employee.status == T(lv.venta.model.enums.Status).Atvalinajums}">Atvalinajums</option>
							<option value="Dekrets" th:selected="${employee.status == T(lv.venta.model.enums.Status).Dekrets}">Dekrets</option>
						</select>
					</td>
					<td style="border: 1px solid black;"><input type="email" name="email" th:value="${employee.email}" title="Email is invalid." required></td>
					<td style="border: 1px solid black;"><input type="text" name="phoneNumber" th:value="${employee.number}" pattern="^(\+371|371)?[2-9]\d{7}$" title="The phone number must be an 8 digit Latvian number." required></td>
	                <td style="border: 1px solid black;"><button type="submit" name="action" value="save">Save</button></td>
				</form>
	        </tr>
	    </table>
	</body>
</html>