<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Department</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <a th:href="@{/home}">
        <button>Home</button>
    </a>

    <h1>Manage Department</h1>
   
    <h2>Department</h2>

    <form th:action="@{/manage/department}" method="get">
        <label>Sort by:</label>
        <select name="sort">
        	<option value="did">Department ID</option>
            <option value="departmentName">Department name</option>
        </select>
        <label>Order:</label><select name="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option></select>
        <button type="submit">Sort</button>
    </form>

    <table style="width: 100%; border-collapse: collapse;">
        <tr>
			<th style="border: 1px solid black;">Department id</th>
			<th style="border: 1px solid black;">Department name</th>
			<th style="border: 1px solid black;">Department description</th>
			<th style="border: 1px solid black;">Action</th>
        </tr>

        <tr>
            <form th:action="@{/manage/department/add}" method="post">
				<td style="border: 1px solid black;"th:text="${lastDid}"></td>
				<td style="border: 1px solid black;"><input type="text" name="addDepartmentName" required>
				<td style="border: 1px solid black;"><input type="text" name="description"></td>
               	<td style="border: 1px solid black;"><button type="submit">Add</button></td>
            </form>
        </tr>

        <tr th:each="department : ${departments}">
            <form th:action="@{/manage/department/update-or-delete}" method="post">
            
				<td style="border: 1px solid black;"><input type="hidden" name="did" th:value="${department.did}"><span th:text="${department.did}"></span></td>
				<td style="border: 1px solid black;"><input type="text" name="departmentName" th:value="${department.departmentName}"></td>
			
                <td style="border: 1px solid black;"><input type="text" name="description" th:value="${department.description}"></td>
                <td style="border: 1px solid black;"><button type="submit" name="action" value="save">Save</button><button type="submit"name="action"value="delete">Delete</button></td>

            </form>
        </tr>

    </table>

</body>
</html>