<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Attendance</title>
</head>

<body>

<!-- HOME -->
<a th:href="@{/home}">
    <button>Home</button>
</a>

<h1>Manage Attendance</h1>


<h2>Attendance</h2>
<h3>Filter</h3>
<form th:action="@{/manage/attendance}" method="get">

    <input type="number" name="id" placeholder="Enter Employee ID">

    <input type="date" name="date">

    <button type="submit">Search</button>

    <a th:href="@{/manage/attendance}">
        <button type="button">Reset</button>
    </a>

</form>

<div style="margin-bottom: 10px;">
	<a th:href="@{/manage/attendance(sort='idAsc', date=${param.date}, id=${param.id})}"><button>Sort id asc</button></a>
	<a th:href="@{/manage/attendance(sort='idDesc', date=${param.date}, id=${param.id})}"><button>Sort id desc</button></a>
  	<a th:href="@{/manage/attendance(sort='nameAsc', date=${param.date}, id=${param.id})}"><button>Sort A-Z</button></a>
	<a th:href="@{/manage/attendance(sort='nameDesc', date=${param.date}, id=${param.id})}"><button>Sort Z-A</button></a>

    <a th:href="@{/manage/attendance(sort='dateAsc', date=${param.date}, id=${param.id})}"><button>Sort date asc</button></a>
	<a th:href="@{/manage/attendance(sort='dateDesc', date=${param.date}, id=${param.id})}"><button>Sort date desc</button></a>
    
	<a th:href="@{/manage/attendance(sort='hoursAsc', date=${param.date}, id=${param.id})}"><button>Sort hours asc</button></a>
	<a th:href="@{/manage/attendance(sort='hoursDesc', date=${param.date}, id=${param.id})}"><button>Sort hours desc</button></a>

</div>

<table style="width: 100%; border-collapse: collapse; margin-bottom: 30px;">

    <tr>
    	<th style="border: 1px solid black;">Id</th>
    	<th style="border: 1px solid black;">Employee</th>
        <th style="border: 1px solid black;">Date</th>
        <th style="border: 1px solid black;">Hours Worked</th>
        <th style="border: 1px solid black;">Action</th>
    </tr>
   <tr>
    <form th:action="@{/manage/attendance}" method="post">

        <td style="border: 1px solid black;">
            <input type="number" name="id" placeholder="Employee ID" required>
        </td>
        <td style="border: 1px solid black;">
            -
        </td>

        <td style="border: 1px solid black;">
            <input type="date" name="date" required>
        </td>

        <td style="border: 1px solid black;">
            <input type="number" step="0.5" min="0" name="hoursWorked" required>
        </td>

        <td style="border: 1px solid black;">
            <button type="submit">Add</button>
        </td>

    </form>
    
	</tr>

    <tr th:each="attendance : ${attendances}">
    	<td style="border: 1px solid black;"
            th:text="${attendance.employee.eid}">
        </td>
    	<td style="border: 1px solid black;"
            th:text="${attendance.employee.name + ' ' + attendance.employee.surname}">
        </td>
        <td style="border: 1px solid black;"
            th:text="${attendance.workDate}">
        </td>

        <td style="border: 1px solid black;"
            th:text="${attendance.hoursWorked}">
        </td>
    </tr>
</table>
</body>
</html>