<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Attendance</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>Manage Attendance</h1>
	    <h2>Search Attendance</h2>
	    <form th:action="@{/manage/attendance}" method="get">
	        <input type="number" name="id" placeholder="Enter Employee ID" min=1 max="9007199254740991">
	        <input type="date" name="date">
	        <button type="submit">Search</button>
	        <a th:href="@{/manage/attendance}"><button type="button">Reset</button></a>
	    </form>
	    <h2>Attendance</h2>
	    <form th:action="@{/manage/attendance}" method="get">
	        <label>Sort by:</label>
	        <select name="sort">
	            <option value="id">Employee ID</option>
	            <option value="surname">Employee surname</option>
	            <option value="date">Date</option>
	        </select>
	        <label>Order:</label>
	        <select name="order">
	            <option value="asc">Ascending</option>
	            <option value="desc">Descending</option>
	        </select>
	        <button type="submit">Sort</button>
	    </form>
		<p th:if="${error}" th:text="${error}" style="color: red"></p>
	    <table>
	        <tr>
	            <th>Attendance id</th>
	            <th>Employee id</th>
	            <th>Employee name</th>
	            <th>Employee surname</th>
	            <th>Date</th>
	            <th>Hours worked</th>
	            <th>Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/manage/attendance/add}" method="post">
	                <td th:text="${lastAid}"></td>
	                <td><input type="number" min="1" max="9007199254740991" name="eid" required></td>
					<td></td>
	                <td></td>
	                <td><input type="date" name="date" required></td>
	                <td><input type="number" min="0.5" max="8" step="0.5" name="hoursWorked" required></td>
	                <td><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="attendance : ${attendances}">
	            <form th:action="@{/manage/attendance/update-or-delete}" method="post">
	                <td><input type="hidden" name="aid" th:value="${attendance.aid}" th:text="${attendance.aid}"></td>
	                <td><input type="number" min="0" name="eid" th:value="${attendance.employee.eid}" required max="9007199254740991"></td>
	                <td th:text="${attendance.employee.name}"></td>
	                <td th:text="${attendance.employee.surname}"></td>
	                <td><input type="date" name="date" th:value="${attendance.workDate}" required></td>
	                <td><input type="number" min="0" max="24" step="0.5" name="hoursWorked" th:value="${attendance.hoursWorked}" required></td>
	                <td><button type="submit" name="action" value="save">Save</button><button type="submit" name="action" value="delete">Delete</button></td>
				</form>
	        </tr>
	    </table>
	</body>
</html>