<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Overtime</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>Manage Overtime</h1>
	    <h2>Search Overtime</h2>
	    <form th:action="@{/manage/overtime}" method="get">
	        <input type="number" name="id" placeholder="Enter Employee ID" min="1" max="9007199254740991">
	        <input type="date" name="date">
	        <button type="submit">Search</button>
	        <a th:href="@{/manage/overtime}"><button type="button">Reset</button></a>
	    </form>
	    <h2>Overtime</h2>
	    <form th:action="@{/manage/overtime}" method="get">
	        <label>Sort by:</label>
	        <select name="sort">
	            <option value="eid">Employee ID</option>
	            <option value="surname">Employee surname</option>
	            <option value="date">Date</option>
	            <option value="status">Status</option>
	        </select>
	        <label>Order:</label><select name="order">
	            <option value="asc">Ascending</option>
	            <option value="desc">Descending</option></select>
	        <button type="submit">Sort</button>
	    </form>
	    <table style="width: 100%; border-collapse: collapse;">
	        <tr>
				<th style="border: 1px solid black;">Overtime id</th>
				<th style="border: 1px solid black;">Employee id</th>
				<th style="border: 1px solid black;">Employee name</th>
				<th style="border: 1px solid black;">Employee surname</th>
				<th style="border: 1px solid black;">Date</th>
				<th style="border: 1px solid black;">Overtime hours worked</th>
				<th style="border: 1px solid black;">Overtime rate</th>
				<th style="border: 1px solid black;">Description</th>
				<th style="border: 1px solid black;">Status</th>
				<th style="border: 1px solid black;">Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/manage/overtime/add}" method="post">
					<td style="border: 1px solid black;"th:text="${lastOid}"></td>
					<td style="border: 1px solid black;"><input type="number" min="1" max="9223372036854775807" name="eid" required></td>
					<td style="border: 1px solid black;"></td>
					<td style="border: 1px solid black;"></td>
					<td style="border: 1px solid black;"><input type="date" name="date" required></td>
					<td style="border: 1px solid black;"><input type="number" step="0.5" min="0.5" max="6" name="overtimeHours" required></td>
					<td style="border: 1px solid black;"><input type="number" step="0.01" min="1" max="2" name="overtimeRate" required></td>
					<td style="border: 1px solid black;"><input type="text" name="description"></td>
					<td style="border: 1px solid black;"><select name="status" required>
			             <option value="IZSKATISANA">IZSKATISANA</option>
			             <option value="APSTIPRINATS">APSTIPRINATS</option>
			             <option value="NORAIDITS">NORAIDITS</option></select></td>
	               	<td style="border: 1px solid black;"><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="overtime : ${overtimes}">
	            <form th:action="@{/manage/overtime/update-or-delete}" method="post">  
	                <td style="border: 1px solid black;"><input type="hidden" name="oid" th:value="${overtime.oid}"><span th:text="${overtime.oid}"></span></td>
	                <td style="border: 1px solid black;"><input type="number" min="0" name="eid" th:value="${overtime.employee.eid}" required></td>
	                <td style="border: 1px solid black;" th:text="${overtime.employee.name}"></td>
	                <td style="border: 1px solid black;" th:text="${overtime.employee.surname}"></td>
	                <td style="border: 1px solid black;"><input type="date"name="date" th:value="${overtime.date}" required></td>
	                <td style="border: 1px solid black;"><input type="number"min="0"max="24"step="0.5"name="overtimeHours"th:value="${overtime.overtimeHours}" required></td>
	                <td style="border: 1px solid black;"><input type="number" min="0" max="24" step="0.01" name="overtimeRate"th:value="${overtime.overtimeRate}" required></td>
	                <td style="border: 1px solid black;"><input type="text" name="description" th:value="${overtime.description}"></td>
	                <td style="border: 1px solid black;"><select name="status">
			             <option value="IZSKATISANA" th:selected="${overtime.status == T(lv.venta.model.enums.RequestStatus).IZSKATISANA}">IZSKATISANA</option>
			             <option value="APSTIPRINATS" th:selected="${overtime.status == T(lv.venta.model.enums.RequestStatus).APSTIPRINATS}">APSTIPRINATS</option>
			             <option value="NORAIDITS"  th:selected="${overtime.status == T(lv.venta.model.enums.RequestStatus).NORAIDITS}">NORAIDITS</option></select>
					</td>
	                <td style="border: 1px solid black;"><button type="submit" name="action" value="save">Save</button><button type="submit"name="action"value="delete">Delete</button></td>
	            </form>
	        </tr>
	    </table>
	</body>
</html>