<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Attendance</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
				    <button>Home</button>
				</a>
				<a th:href="@{/attendance}">
				    <button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
				    <button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
				    <button>My vacation</button>
				</a>
				<a th:href="@{/account}">
				    <button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
			    <button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>My attendance this month</h1>
		<p th:if="${error}" th:text="${error}" style="color: red"></p>
	    <table>
	        <tr>
	            <th>Date</th>
	            <th>Hours Worked</th>
	            <th>Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/attendance}" method="post">
	                <td th:text="${dateToday}"></td>
	                <td><input type="number" step="0.5" min="0.5" max="8" name="hoursWorked" required></td>
	                <td><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="attendance : ${attendances}">
	            <td th:text="${attendance.workDate}"></td>
	            <td th:text="${attendance.hoursWorked}"></td>
				<td></td>
	        </tr>
	    </table>
		<p th:text="|Money made this month: ${salary} (Including overtimes)|"></p>
	</body>
</html>