<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Overtime</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
		
	    <h1>My overtime this month</h1>
	    <table style="width: 100%; border-collapse: collapse;">
	        <tr>
	            <th style="border: 1px solid black;">Date</th>
	            <th style="border: 1px solid black;">Overtime hours</th>
				<th style="border: 1px solid black;">Overtime rate</th>
				<th style="border: 1px solid black;">Description</th>
				<th style="border: 1px solid black;">Status</th>
				<th style="border: 1px solid black;">Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/overtime}" method="post">
	                <td style="border: 1px solid black;"
	                    th:text="${dateToday}">
	                </td>
	                <td style="border: 1px solid black;">
	                    <input type="number" step="0.5" min="0" name="overtimeHours" required>
	                </td>
					<td style="border: 1px solid black;">
						Not assigned
					</td>
					<td style="border: 1px solid black;">
					    <input type="text" maxlength="100" name="description">
					</td>
					<td style="border: 1px solid black;">
						IZSKATISANA
					</td>
	                <td style="border: 1px solid black;">
	                    <button type="submit">Add</button>
	                </td>
	            </form>
	        </tr>
	        <tr style="border: 1px solid black;" th:each="overtime : ${overtimes}">
				<td style="border: 1px solid black;"
					th:text="${overtime.date}">
				</td>
	            <td style="border: 1px solid black;"
	                th:text="${overtime.overtimeHours}">
	            </td>
	            <td style="border: 1px solid black;"
	                th:text="${overtime.overtimeRate != null ? overtime.overtimeRate : 'Not assigned'}">
	            </td>
				<td style="border: 1px solid black;"
				    th:text="${overtime.description}">
				</td>
				<td style="border: 1px solid black;"
					th:text="${overtime.status}">
				</td>
	        </tr>
	    </table>
	</body>
</html>