<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Vacation</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<p>User options</p>
		<div class="header">
			<div class="other-buttons-container">
				<a th:href="@{/home}">
					<button>Home</button>
				</a>
				<a th:href="@{/attendance}">
					<button>My attendance</button>
				</a>
				<a th:href="@{/overtime}">
					<button>My overtime</button>
				</a>
				<a th:href="@{/vacation}">
					<button>My vacation</button>
				</a>
				<a th:href="@{/account}">
					<button>My user account</button>
				</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-button">Logout</button>
			</form>
		</div>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
			<a th:href="@{/manage/position}">
			    <button>Manage position</button>
			</a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
	    <h1>My vacations</h1>
		<p th:if="${error}" th:text="${error}" style="color: red"></p>
	    <table>
	        <tr>
	            <th>Start date</th>
	            <th>End date</th>
				<th>Active</th>
				<th>Status</th>
				<th>Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/vacation}" method="post">
					<td><input type="date" name="startDate" required></td>
					<td><input type="date" name="endDate" required></td>
					<td>false</td>
					<td>IZSKATISANA</td>
	                <td><button type="submit">Add</button></td>
	            </form>
	        </tr>
	        <tr th:each="vacation : ${vacations}">
				<td th:text="${vacation.startDate}"></td>
	            <td th:text="${vacation.endDate}"></td>
	            <td th:text="${vacation.isActive}"></td>
				<td th:text="${vacation.status}"></td>
				<td></td>
	        </tr>
	    </table>
	</body>
</html>