<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Vacation</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

	<body>
		
		<p>User options</p>
		<a th:href="@{/home}">
		    <button>Home</button>
		</a>
		<a th:href="@{/attendance}">
		    <button>My attendance</button>
		</a>
		<a th:href="@{/overtime}">
		    <button>My overtime</button>
		</a>
		<a th:href="@{/vacation}">
		    <button>My vacation</button>
		</a>
		<a th:href="@{/account}">
		    <button>My user account</button>
		</a>
		<hr>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
		    <p>Admin options</p>
		    <a th:href="@{/manage/attendance}">
		        <button>Manage attendance</button>
		    </a>
		    <a th:href="@{/manage/overtime}">
		        <button>Manage overtime</button>
		    </a>
		    <a th:href="@{/manage/vacation}">
		        <button>Manage vacation</button>
		    </a>
		    <a th:href="@{/manage/department}">
		        <button>Manage department</button>
		    </a>
		    <a th:href="@{/manage/employee}">
		        <button>Manage employees</button>
		    </a>
		    <a th:href="@{/manage/user}">
		        <button>Manage users</button>
		    </a>
			<hr>
		</div>
		
	    <h1>My vacations</h1>
	    <table style="width: 100%; border-collapse: collapse;">
	        <tr>
	            <th style="border: 1px solid black;">Start date</th>
	            <th style="border: 1px solid black;">End date</th>
				<th style="border: 1px solid black;">Active</th>
				<th style="border: 1px solid black;">Status</th>
				<th style="border: 1px solid black;">Action</th>
	        </tr>
	        <tr>
	            <form th:action="@{/vacation}" method="post">
					<td style="border: 1px solid black;">
					    <input type="date" name="startDate" required>
					</td>

					<td style="border: 1px solid black;">
					    <input type="date" name="endDate" required>
					</td>
					<td style="border: 1px solid black;">
						false
					</td>
					<td style="border: 1px solid black;">
						IZSKATISANA
					</td>
	                <td style="border: 1px solid black;">
	                    <button type="submit">Add</button>
	                </td>
	            </form>
	        </tr>
	        <tr style="border: 1px solid black;" th:each="vacation : ${vacations}">
				<td style="border: 1px solid black;"
					th:text="${vacation.startDate}">
				</td>
	            <td style="border: 1px solid black;"
	                th:text="${vacation.endDate}">
	            </td>
	            <td style="border: 1px solid black;"
	                th:text="${vacation.isActive}">
	            </td>
				<td style="border: 1px solid black;"
				    th:text="${vacation.status}">
				</td>
	        </tr>
	    </table>
	</body>
</html>